# Thư viện

In [40]:
from lightgbm import LGBMRegressor
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.svm import LinearSVR

In [2]:
# from tensorflow import keras

from keras.layers import Input,Dense
from keras.models import Model
from keras.optimizers import Nadam
from keras.callbacks import ModelCheckpoint

Using TensorFlow backend.
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# Load dataset

In [3]:
rail_data = pd.read_csv('thegurus-opendata-renfe-trips.csv')

In [4]:
rail_data.head(10)

,id,company,origin,destination,departure,arrival,duration,vehicle_type,vehicle_class,price,fare,seats,meta,insert_date
0,1,renfe,MADRID,BARCELONA,2019-04-18 05:50:00,2019-04-18 08:55:00,3.08,AVE,Preferente,68.95,Promo,NaN,{},2019-04-11 21:49:46
1,2,renfe,MADRID,BARCELONA,2019-04-18 13:25:00,2019-04-18 16:24:00,2.98,AVE-TGV,Turista,107.70,Flexible,NaN,{},2019-04-11 21:49:46
2,3,renfe,MADRID,BARCELONA,2019-04-18 06:30:00,2019-04-18 09:20:00,2.83,AVE,Turista,75.40,Promo,NaN,{},2019-04-11 21:49:46
3,4,renfe,MADRID,BARCELONA,2019-04-18 15:30:00,2019-04-18 18:40:00,3.17,AVE,Preferente,NaN,Promo,NaN,{},2019-04-11 21:49:46
4,5,renfe,MADRID,BARCELONA,2019-04-18 07:00:00,2019-04-18 09:30:00,2.50,AVE,Turista Plus,106.75,Promo,NaN,{},2019-04-11 21:49:46
5,6,renfe,MADRID,BARCELONA,2019-04-18 06:30:00,2019-04-18 09:20:00,2.83,AVE,Turista,75.40,Promo,NaN,{},2019-04-11 21:49:46
6,7,renfe,MADRID,BARCELONA,2019-04-18 07:30:00,2019-04-18 10:40:00,3.17,AVE,Turista Plus,90.50,Promo,NaN,{},2019-04-11 21:49:46
7,8,renfe,MADRID,BARCELONA,2019-04-18 19:00:00,2019-04-18 21:30:00,2.50,AVE,Preferente,115.65,Promo,NaN,{},2019-04-11 21:49:46
8,9,renfe,MADRID,BARCELONA,2019-04-18 08:00:00,2019-04-18 10:30:00,2.50,AVE,Turista,88.95,Promo,NaN,{},2019-04-11 21:49:46
9,10,renfe,MADRID,BARCELONA,2019-04-18 08:00:00,2019-04-18 10:30:00,2.50,AVE,Turista,88.95,Promo,NaN,{},2019-04-11 21:49:46

* **insert_date** : ngày mà dòng dữ liệu được đưa vào data => ngày đặt vé
* **origin /destination** : nơi khởi hành/ nơi đến
* **departure / arrival** : thời gian khởi hành/ thời gian đến 
* **duration** : thời lượng di chuyển (tính bằng h) 
* **fare** : loại vé (khuyến mãi, ưu đãi thương mại,...)
* **price** : euros
* **vehicle_class** : hạng vé (ticket class, tourist, business, etc.)
* **seats** : số lượng chỗ ngồi

In [5]:
print('Shape of rail data: ', rail_data.shape)

Shape of rail data:  (38753060, 14)

In [6]:
rail_data.describe()

                 id      duration         price         seats
count  3.875306e+07  3.875306e+07  2.959311e+07  1.247421e+06
mean   1.937653e+07  2.778496e+00  5.822162e+01  2.210353e+02
std    1.118704e+07  1.486362e+00  2.476530e+01  7.232385e+01
min    1.000000e+00  3.700000e-01  0.000000e+00  6.000000e+00
25%    9.688266e+06  1.800000e+00  3.920000e+01  2.050000e+02
50%    1.937653e+07  2.530000e+00  5.570000e+01  2.390000e+02
75%    2.906480e+07  2.980000e+00  7.540000e+01  2.620000e+02
max    3.875306e+07  1.242000e+01  3.428000e+02  3.340000e+02

In [7]:
rail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38753060 entries, 0 to 38753059
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   company        object
 2   origin         object
 3   destination    object
 4   departure      object
 5   arrival        object
 6   duration       float64
 7   vehicle_type   object
 8   vehicle_class  object
 9   price          float64
 10  fare           object
 11  seats          float64
 12  meta           object
 13  insert_date    object
dtypes: float64(3), int64(1), object(10)
memory usage: 4.0+ GB

+ Set **insert_date**, **departure** và **arrival** bằng đơn vị thời gian: datetime64.

In [8]:
for item in ['insert_date', 'departure', 'arrival']:
    rail_data[item] = pd.to_datetime(rail_data[item])

## Set departure và arrival thành các đơn vị thời gian riêng

In [9]:
for item in ['insert_date', 'departure', 'arrival']:
    date_col = rail_data[item]
    rail_data[item + '_hour'] = date_col.dt.hour
    rail_data[item + '_minute'] = date_col.dt.minute
    rail_data[item + '_day'] = date_col.dt.day
    rail_data[item + '_month'] = date_col.dt.month
    rail_data[item + '_weekday'] = date_col.dt.day_name()
    
    del rail_data[item]

# Tiền xử lý
## Điền các giá trị thiếu

In [10]:
# Quan sát giá trị thiếu
rail_data.isnull().sum()

id                            0
company                       0
origin                        0
destination                   0
duration                      0
vehicle_type                  0
vehicle_class           8034239
price                   9159949
fare                    8034239
seats                  37505639
meta                          0
insert_date_hour              0
insert_date_minute            0
insert_date_day               0
insert_date_month             0
insert_date_weekday           0
departure_hour                0
departure_minute              0
departure_day                 0
departure_month               0
departure_weekday             0
arrival_hour                  0
arrival_minute                0
arrival_day                   0
arrival_month                 0
arrival_weekday               0
dtype: int64

In [11]:
# Cột seats thiếu quá nhiều dữ liệu, 37tr5 giá trị thiếu trên 38tr7 dòng => xóa cột seats
rail_data.drop(columns=['seats'], inplace=True)

In [12]:
# Điền hai cột vehicle_class và fare bằng mode
for i in ['vehicle_class', 'fare']: 
    rail_data[i].fillna(rail_data[i].mode()[0], inplace=True)

In [13]:
# Điền các giá trị price dựa trên thông tin của cột fare
rail_data.loc[rail_data.price.isnull(), 'price'] = rail_data.groupby('fare')['price'].transform('mean')

## Quan sát các cột chỉ có một giá trị

In [14]:
# Quan sát giá trị của các cột 
for item in rail_data.columns:
    print(item, ":", rail_data[item].unique())
    print('_'*30)

id : [       1        2        3 ... 38753058 38753059 38753060]
______________________________
company : ['renfe']
______________________________
origin : ['MADRID' 'SEVILLA' 'BARCELONA' 'VALENCIA' 'PONFERRADA' 'GRANADA' 'MALAGA'
 'CORDOBA' 'ZARAGOZA' 'LEON' 'ZAMORA' 'VALLADOLID' 'TOLEDO' 'SEGOVIA'
 'TARRAGONA' 'CUENCA' 'PALENCIA' 'CASTELLON' 'ALICANTE' 'CIUDAD REAL'
 'ALBACETE' 'CADIZ' 'LLEIDA' 'HUESCA' 'GUADALAJARA' 'GIRONA' 'CASTELLO'
 'LEÓN' 'MÁLAGA' 'CÓRDOBA']
______________________________
destination : ['BARCELONA' 'SEVILLA' 'VALENCIA' 'MADRID' 'PONFERRADA' 'GRANADA'
 'ZARAGOZA' 'MALAGA' 'CORDOBA' 'LEON' 'TOLEDO' 'GUADALAJARA' 'VALLADOLID'
 'ZAMORA' 'CIUDAD REAL' 'CUENCA' 'SEGOVIA' 'TARRAGONA' 'CASTELLON'
 'LLEIDA' 'ALICANTE' 'ALBACETE' 'HUESCA' 'CADIZ' 'GIRONA' 'PALENCIA'
 'CASTELLO' 'CÓRDOBA' 'LEÓN' 'MÁLAGA']
______________________________
duration : [ 3.08  2.98  2.83  3.17  2.5   2.75  3.07  3.    2.85  3.15  9.37  2.92
  2.53  2.7   2.73  2.63  2.58  2.6   2.67  7.68  2.55  2.35  2.93  2.42
  1.88  1.73  1.67  2.25  6.37  1.82  7.02  1.7   6.28  2.08  5.05  4.17
  6.17  6.58  1.8   6.78  6.72  2.17  6.7   6.85  2.72  3.03  2.77  2.87
 11.52  2.65  2.8   3.88  4.2   6.53  4.05  9.07  7.13  2.45  1.78  1.77
  1.87  6.98  6.47  1.63  7.45  5.62  4.53  4.27  6.92  5.    4.98  4.13
  5.92  5.8   4.7   5.77  4.07  7.67  7.7   1.68  7.63  1.72  7.23  2.22
  2.78  5.37  7.37 12.42  8.07  5.45  5.53  3.83  8.03  8.08  7.42  7.05
  6.83  6.5   5.47  7.    6.93  6.05  6.02  6.8   5.33  7.15 11.25  6.38
  5.5   6.25  7.33  4.65  4.3   4.23  5.12  7.12  6.88  6.43 11.37 11.3
  3.42  6.48  2.23  3.33  4.18  4.08  2.32  3.2   3.18  2.9   6.75  6.3
  6.32  3.23  6.52  3.22  2.88  7.97  4.93  5.2  11.38  2.03  2.82  3.48
  3.05  3.02  3.63  4.67  7.5   3.6   4.25  4.63  3.32  3.28  6.87  2.47
  4.4   5.82  4.85  7.27  5.48  4.03  3.72  6.    5.17  4.75  5.83  5.42
  5.58  5.08  5.13  5.25  5.67  5.78  5.28  5.55  3.68  4.72  3.52  4.5
  9.5   2.68  9.28  2.97  5.87  3.12  1.25  1.35  1.42  1.4   1.5   2.52
  2.43  2.4   1.83  1.95  2.12  1.9   5.6   1.75  2.05  3.98  9.73  1.98
  2.95  3.65  1.85  2.2   2.07  1.97  2.33  1.93  1.32  4.02  1.45  2.37
  1.33  8.05  1.58  3.67  4.    5.7   3.75  4.43  1.28  4.57  6.08  7.03
  6.73  4.82  9.85  3.58  2.27  2.15  2.13  3.45  2.28  2.3   3.38  3.47
  4.97  3.87  3.93  5.1   4.38  4.77  3.37  1.53  1.47  1.62  1.52  1.55
  1.27  1.08  1.13  1.17  1.12  1.05  0.93  3.13  1.07  7.25  1.23  0.55
  0.57  0.47  0.45  0.5   0.48  4.95  5.07  2.62  2.48  2.38  8.15  4.6
  4.68  4.87  2.57  1.    0.38  0.43  0.88  0.72  0.67  0.37  1.57  0.53
  1.6   0.83  0.9   3.35  0.87  0.98  0.92  1.1   1.15  0.52  4.92  4.52
  4.1   3.85  3.43  1.48  3.77  3.62  3.92  2.18  2.    1.65  4.37  4.12
  3.25  4.62  8.92  0.85  1.02  3.78  4.45  3.27  4.42  4.83  4.58  4.15
  0.6   0.4   0.65  0.68  1.03  0.97  0.73  3.1   3.82  5.68  4.47  3.3
  3.97  5.57  3.8   3.55  3.57  5.23  9.12  7.78  1.92  0.95  4.35  4.28
  4.32  7.07  2.02  3.5   3.4   0.75  5.52  5.73  3.73  1.3   5.35  5.97
  5.98  5.75  2.1   4.22  8.25  9.38  7.53  8.65  3.95  1.37  7.92  7.93
  1.18  8.13 10.68  9.33 10.18  6.97  6.55  6.63  5.18  6.23  6.4   1.38
  5.03  5.15  6.12  1.22]
______________________________
vehicle_type : ['AVE' 'AVE-TGV' 'R. EXPRES' 'AV City' 'INTERCITY' 'ALVIA' 'MD-LD'
 'REGIONAL' 'AVE-MD' 'AVE-LD' 'LD-MD' 'MD' 'LD' 'TRENHOTEL' 'MD-AVE'
 'LD-AVE' 'REG.EXP.' 'ALTARIA' 'AVANT-LD' 'LD-AVANT' 'AVLO' 'MD-AVANT'
 'AVANT' 'AVE-AVANT' 'AVE-AVE' 'AVANT-MD' 'AVANT-AVE' 'Intercity'
 'EUROMED' 'TORRE ORO']
______________________________
vehicle_class : ['Preferente' 'Turista' 'Turista Plus' 'Turista con enlace' 'Cama Turista'
 'Cama G. Clase' 'TuristaSólo plaza H' 'PreferenteSólo plaza H'
 'Turista PlusSólo plaza H' 'Turista - Turista Plus'
 'Turista Plus - Turista']
______________________________
price : [ 68.95 107.7   75.4  ...  27.35  64.3   81.9 ]
______________________________
fare : ['Promo' 'Flexible' 'Adulto ida' 'Promo +' 'Individual-Flexible' 'Mesa'
 'Grupos Ida' 'Doble Familiar-Flexible' 'COD.PROMOCIONAL' '4x100' 'Básica'
 'YOVOY']
______________________________
meta : ['{}'
 '{"Turista": {"Flexible": 67.9}, "Preferente": {"Promo": 69.75, "Promo +": 74.15, "Flexible": 88.3}}'
 '{"Turista": {"Promo": 41.65, "Promo +": 45.5, "Flexible": 77.1}, "Preferente": {"Promo": 49.35, "Promo +": 55.85, "Flexible": 129.9}}'
 ...
 '{"Turista": {"Flexible": {"price": 60.9, "seats": 206}}, "Turista Plus": {"Promo +": {"price": 47.45, "seats": 26}, "Flexible": {"price": 73.0, "seats": 26}}}'
 '{"Turista": {"Flexible": {"price": 60.9, "seats": 197}}, "Turista Plus": {"Promo +": {"price": 54.75, "seats": 15}, "Flexible": {"price": 73.0, "seats": 15}}}'
 '{"Turista": {"Promo +": {"price": 51.15, "seats": 228}, "Flexible": {"price": 60.9, "seats": 228}}, "Turista Plus": {"Flexible": {"price": 73.0, "seats": 37}}}']
______________________________
insert_date_hour : [21 22 23  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
______________________________
insert_date_minute : [49 50 51 52 53 54 55 56 57 58 59  0  1  2  3  4  5  6  7  8  9 10 11 12
 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
 37 38 39 40 41 42 43 44 45 46 47 48]
______________________________
insert_date_day : [11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30  1  2  3  4
  5  6  7  8  9 10 31]
______________________________
insert_date_month : [ 4  5  6  7  8 10 11  1  2  3  9]
______________________________
insert_date_weekday : ['Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday']
______________________________
departure_hour : [ 5 13  6 15  7 19  8  9 16 10 11 18 12 14 21 17 20  2 22  4 23]
______________________________
departure_minute : [50 25 30  0 20 10 15 45  5 35 40 55 42 48  8 21 18 58 19 36  3 38 44 28
 11 14 43 17 26  7 12 22 16 33  2 52 46 57 24 47 13 56 27 29  6 59  1 54
 53 41 31 51 32 39 23 37  4  9 34 49]
______________________________
departure_day : [18 22 27 28  1  2  5  6 10 13 15 17 21 11 12 16  7  8 20 24  4 30 19 14
 29  3 23  9 25 31 26]
______________________________
departure_month : [ 4  5  6  7  8  9 10 11 12  1  3  2]
______________________________
departure_weekday : ['Thursday' 'Saturday' 'Wednesday' 'Monday' 'Tuesday' 'Sunday' 'Friday']
______________________________
arrival_hour : [ 8 16  9 18 10 21 11 22 12 19 13 14 15 17 23 20  0  4  7  2  6  1]
______________________________
arrival_minute : [55 24 20 40 30 15 34 21 29 37 50  5 45 10 32 27 14 38 41 51  8 16  3 33
 25 35  4 31 22 47 54 58 52 26 23 17 56  2 36 59  7 57  1 53 48  0 42 28
 43 12  9 11 13 49 39 46  6 44 18 19]
______________________________
arrival_day : [18 22 27 28  2  1  3  5  6  7 10 11 13 14 15 16 17 19 21 23 12  8 20 24
  4 30 29 25  9 31 26]
______________________________
arrival_month : [ 4  5  6  7  8  9 10 11 12  1  3  2]
______________________________
arrival_weekday : ['Thursday' 'Saturday' 'Wednesday' 'Monday' 'Tuesday' 'Sunday' 'Friday']
______________________________

In [15]:
# Quan sát giá trị của các cột 
for item in rail_data.columns:
    print(item, ":", rail_data[item].unique().shape[0])
    print('_'*30)

id : 38753060
______________________________
company : 1
______________________________
origin : 30
______________________________
destination : 30
______________________________
duration : 388
______________________________
vehicle_type : 30
______________________________
vehicle_class : 11
______________________________
price : 1503
______________________________
fare : 12
______________________________
meta : 1059814
______________________________
insert_date_hour : 24
______________________________
insert_date_minute : 60
______________________________
insert_date_day : 31
______________________________
insert_date_month : 11
______________________________
insert_date_weekday : 7
______________________________
departure_hour : 21
______________________________
departure_minute : 60
______________________________
departure_day : 31
______________________________
departure_month : 12
______________________________
departure_weekday : 7
______________________________
arrival_hour : 22
______________________________
arrival_minute : 60
______________________________
arrival_day : 31
______________________________
arrival_month : 12
______________________________
arrival_weekday : 7
______________________________

In [16]:
# Drop cột company
rail_data.drop(columns=['company'], inplace=True)

# Drop cột id
rail_data.drop(columns=['id'], inplace=True)

# Drop cột meta
rail_data.drop(columns=['meta'], inplace=True)

## Quan sát tương quan

In [17]:
corr = rail_data.corr()
corr.style.background_gradient(cmap='coolwarm')

=> departure_day, departure_month và arrival_day, arrival_month có correlation rất lớn với nhau. Vậy có thể bỏ 1 trong hai đi.

In [18]:
# Bỏ cột arrival_day, arrival_month và arrival_weekday
rail_data.drop(columns=['arrival_day', 'arrival_month', 'arrival_weekday'], inplace=True)

# Bỏ cột insert_date_hour, insert_date_minute, insert_date_day, insert_date_month, departure_hour
rail_data.drop(columns=['insert_date_hour', 'insert_date_minute', 'insert_date_day', 'insert_date_month'], inplace=True)

## Phân tích về giá vé
Giá vé tuy là một số, nhưng cũng là chi phí đại diện một tập các chuyến đi nhất định

In [19]:
price_cnts = rail_data['price'].value_counts()
price_cnts.head(20)

57.337979     8667274
28.350000      967550
63.400000      823254
85.100000      771258
76.300000      722002
55.700000      594450
107.700000     561260
31.100000      524666
60.300000      520342
47.300000      503027
53.400000      485400
75.400000      477241
39.450000      465747
72.200539      421937
37.800000      410991
33.650000      377279
108.900000     373643
66.750000      368746
81.200000      331162
100.400000     322210
Name: price, dtype: int64

In [20]:
price_cnts.tail(20)

109.80    1
93.59     1
48.62     1
30.55     1
46.81     1
109.12    1
102.80    1
149.94    1
81.90     1
90.98     1
21.80     1
21.10     1
68.54     1
35.04     1
36.55     1
169.22    1
137.65    1
49.79     1
45.35     1
60.57     1
Name: price, dtype: int64

## Chia dữ liệu và nhãn cho mô hình dự đoán giá vé

In [36]:
X_df = rail_data.drop(columns = 'price') 
y = rail_data['price'].values

In [37]:
# Dùng One hot encoder để xử lý các thông tin danh nghĩa
encoder = OneHotEncoder()
X = encoder.fit_transform(X_df.values)
X

<38753060x721 sparse matrix of type '<class 'numpy.float64'>'
	with 542542840 stored elements in Compressed Sparse Row format>

# Model
## Chia train test

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.01, random_state= 42
    )

print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(38365529, 721)
(387531, 721)
(38365529,)
(387531,)

## Hàm đánh giá

In [25]:
def MSE(model, X, y_true, name):
    y_pred = model.predict(X)
    mse = mean_squared_error(y_true, y_pred)
    print('Mean Squared Error for {}: {}'.format(name, mse))

def evaluation(model, X_train, y_train, X_test, y_test):
    train_score = model.score(X_train, y_train)
    test_score = model.score(X_test, y_test)

    print("Train Score:", train_score)
    print("Test Score:", test_score)
    print()
        
    MSE(model, X_train, y_train, 'training set')
    MSE(model, X_test, y_test, 'test set')

## LinearSVR model

In [26]:
%%time
svm = LinearSVR()
svm.fit(X_train, y_train)

Wall time: 15min 40s

LinearSVR()

In [27]:
evaluation(svm, X_train, y_train, X_test, y_test)

Train Score: 0.7029044738115887
Test Score: 0.7037699956103582

Mean Squared Error for training set: 140.11312148552835
Mean Squared Error for test set: 139.99467106082753

## Gradient boosting

In [46]:
%%time
gbr = LGBMRegressor(n_estimators=5000)
gbr.fit(X_train, y_train)

Wall time: 27min 37s

LGBMRegressor(n_estimators=5000)

In [ ]:
evaluation(gbr, X_train, y_train, X_test, y_test)

Train Score: 0.9221191095147949
Test Score: 0.9217329727158199